<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Tabs</title>
</head>
<body>
    <section class="tabs-container">
        <article class="about-container">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, culpa!</p>
        </article>
        <div class="about-center">
            <article class="about-img">
                <img src="/images/japan-landscape.jpg" alt="Japan Landscape" srcset="">
            </article>
            <article class="about">
                <div class="btn-container">
                    <button class="tab-btn active" data-id="history">History</button>
                    <button class="tab-btn" data-id="vision">Vision</button>
                    <button class="tab-btn" data-id="goals">Goals</button>
                </div>
                <div class="about-content">
                    <div class="content active" id="history">
                        <h4>History</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dignissimos blanditiis culpa ducimus, molestiae doloribus vel nemo omnis reprehenderit repellat libero reiciendis eos totam quaerat obcaecati, sapiente illum perferendis cupiditate aliquid rem, suscipit similique facere? Illum, quae minima, repellat consectetur molestias labore sapiente quos porro eaque quod atque repellendus nulla!</p>
                    </div>
                    <div class="content" id="vision">
                        <h4>Vision</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, a praesentium sint quibusdam officiis fugiat in reprehenderit libero neque amet atque dolore sequi deserunt. Hic neque distinctio expedita accusamus et labore aperiam esse maxime magnam, maiores dolorem ab molestiae. Quasi ullam accusamus, nemo placeat corrupti iure quae qui beatae. Atque!</p>
                    </div>
                    <div class="content" id="goals">
                        <h4>Goals</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita modi sed quos ab corporis. Iure voluptates cum nemo dolorum fugiat rerum, eaque facilis, aliquid quisquam aperiam libero harum dolor soluta eligendi sint amet hic incidunt. Dicta mollitia dolor optio corporis, aspernatur a, repudiandae qui pariatur veritatis cumque neque nobis molestias!</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <script src="/js/tabs.js"></script>
</body>
</html>